#1 Write a code to create a string with your name and print it.

In [1]:
name = "ChatGPT"
print(name)

ChatGPT

#2 Write a code to find the length of the string "Hello World".

In [2]:
string = "Hello World"
print(len(string))

11

#3 Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

#4 Write a code to convert the string "hello" to uppercase

In [4]:
greeting = "hello"
print(greeting.upper())

HELLO

#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

#6 Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Indexing starts from 0

b

#10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
# Original list
numbers = [10, 20, 30, 40, 50]

# Reversing the list using slicing
reversed_list = numbers[::-1]

# Printing the reversed list
print(reversed_list)

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'a': 1, 'b': 2, 'c': 3}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{'a': 1, 'b': 2, 'c': 3}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [27]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[11, 19, 53, 60, 77]

#28. Write a code to create a list with strings and print the element at the third index.

In [28]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(fruits[3])

date

#29. Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {'name': 'John', 'age': 30}
dict2 = {'city': 'New York', 'country': 'USA'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

#30. Write a code to convert a list of strings into a set.

In [31]:
string_list = ['apple', 'banana', 'cherry', 'apple']
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}

#Thank You